#matrixs {
    height: 70vh;
    background-color:rgb(255, 253, 253);
    overflow-y: scroll;
}

#top {
    height: 30vh;
    background-color: azure;
    display: flex;
}

#expl {
    width: 40%;
    overflow: scroll;
}

#input {
    overflow: scroll;
    padding: 30px 20px 10px;
    background-color: lightcyan;
}

.row {
    white-space: nowrap;
}